body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    
    background-image: url('/images/tela-2.jpeg'); /* Caminho correto na estrutura Spring Boot */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container.centralizado {
    background-color: rgba(234, 234, 234, 0.9); /* Torna o fundo levemente transparente */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Estilização dos campos de entrada e seus rótulos */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 100px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
}

/* Alinhamento dos campos de entrada com os rótulos */
.form-group {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

/* Estilização do botão */
.button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    transition: background 0.3s ease-in-out;
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}